<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header bg-secondary text-light" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a th:href="@{/proveedor/form}" class="btn btn-primary btn-xs">Crear proveedor</a>
				</h4>
				
				<table class="table table-striped">
					<thead>
						<tr>
							<th>id</th>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>Teléfono</th>
							<th>Acciones</th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="proveedor: ${proveedores}">
							<td>
								<a class="btn btn-secondary btn-xs" th:href="@{/proveedor/ver/} + ${proveedor.id}" th:text="${proveedor.id}"></a>
							</td>
							<td th:text="${proveedor.nombre}"></td>
							<td th:text="${proveedor.apellido}"></td>
							<td th:text="${proveedor.telefono}"></td>
							<td>
								<a class="btn btn-success btn-xs" th:href="@{'/facturaCompra/form/' + ${proveedor.id}}" th:text="'Crear factura'"></a>
								<a class="btn btn-warning btn-xs" th:href="@{/proveedor/form/} + ${proveedor.id}" th:text="'Editar'"></a>
								<a class="btn btn-danger btn-xs" th:href="@{/proveedor/eliminar/} + ${proveedor.id}" th:text="'Eliminar'" onclick="return confirm('¿Estás segura que deseas eliminar le proveedor?');"></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>